@import url("https://fonts.googleapis.com/css?family=Lexend+Deca:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  max-width: 800px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.sedans {
  background-color: var(--Bright-orange);
}

.suvs {
  background-color: var(--Dark-cyan);
}

.luxury {
  background-color: var(--Very-dark-cyan);
}

.card {
  padding: 20px 50px;
}

img {
  width: 60px;
}

h2 {
  color: var(--Very-light-gray);
  font-size: 32px;
  margin: 30px 0;
  font-family: "Big Shoulders Display", sans-serif;
}

p {
  color: var(--Transparent-white);
  font-size: 15px;
  margin-bottom: 60px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

button {
  width: 120px;
  padding: 10px 0;
  background-color: var(--Very-light-gray);
  border: 2px solid var(--Transparent-white);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: transparent;
  color: white;
}

.sedans-btn {
  color: var(--Bright-orange);
}

.suvs-btn {
  color: var(--Dark-cyan);
}

.luxury-btn {
  color: var(--Very-dark-cyan);
}

@media (max-width: 820px) {
  .container {
    max-width: 450px;
    flex-direction: column;
    overflow: visible;
  }
}

@media (max-width: 520px) {
  .container {
    max-width: 350px;
    flex-direction: column;
    overflow: visible;
  }
}
